.back_top {
    position: fixed;
    bottom: 13vh;
    right: 1.5vw;
    z-index: 99;
    background-color: var(--blue-color-9);
    color: var(--white-color);
    font-size: 1.4rem;
    padding: 0.6rem;
    cursor: pointer;
    border-radius: 3px;
    transform: scale(0);
    @include centered;
    @include toggleVisibility(hidden, 0);
    @include transition($duration: 0.3s);

    &:hover {
        background-color: var(--blue-color-8);
    }

    &.popped {
        transform: scale(1);
        @include toggleVisibility(visible, 1);
    }
}

.chat_icon {
    bottom: 5vh;
    font-size: 2rem;
    padding: 0.5rem;
    right: 1.3vw;
    border-radius: 50%;
}

#chatbot-modal {
    position: fixed;
    bottom: 13vh;
    right: 1.5vw;
    z-index: 99;
    width: min(95%, 500px);
    padding: 10px;
    box-shadow: 0 0 10px 1px var(--blue-color-2);
    border: 2px solid var(--blue-color-2);
    background-color: var(--white-color);
    border-radius: 8px;
    color: var(--blue-color-7);
    text-align: center;
    z-index: 300;
}