.back_top {
    position: fixed;
    bottom: 13vh;
    right: 1.5vw;
    z-index: 99;
    background-color: var(--blue-color-9);
    color: var(--white-color);
    font-size: 1.4rem;
    padding: 0.6rem;
    cursor: pointer;
    border-radius: 3px;
    transform: scale(0);
    @include centered;
    @include toggleVisibility(hidden, 0);
    @include transition($duration: 0.3s);

    &:hover {
        background-color: var(--blue-color-8);
    }

    &.popped {
        transform: scale(1);
        @include toggleVisibility(visible, 1);
    }
}

.chat_icon {
    bottom: 5vh;
    font-size: 2rem;
    padding: 0.5rem;
    right: 1.3vw;
    border-radius: 50%;
}

.chatbot {
  position: fixed;
  bottom: 1%;
  right: 5%;
  height: 70%;
  background-color: white;
  border: 3px solid #f1f1f1;
  border-radius: 10px;
  z-index: 9;
  .chat {
    max-width: 100%;
    height:98%;
  background-color: white;
}

.chatbot_close {
    color: red;
    background-color: white;
    border-radius: 10px;
    margin: 5px;
    cursor: pointer;
    .Close {
        font-size: 15px;
        float: right;
    }
}
}
