.back_top {
    position: fixed;
    bottom: 13vh;
    right: 1.5vw;
    z-index: 99;
    background-color: var(--blue-color-8);
    color: var(--white-color);
    font-size: 1.4rem;
    padding: 0.6rem;
    cursor: pointer;
    border-radius: 3px;
    transform: scale(0);
    @include centered;
    @include toggleVisibility(hidden, 0);
    @include transition($duration: 0.3s);

    &.popped {
        transform: scale(1);
        @include toggleVisibility(visible, 1);
    }
}

.chat_icon {
    bottom: 5vh;
    font-size: 2rem;
    padding: 0.5rem;
    right: 1.3vw;
    border-radius: 50%;
}
