#header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    color: var(--blue-color-8);
    @include padding-y(0.8rem, 0.8rem);
    @include transition(background-color, 0.2s, linear);

    &.sticky {
        background-color: var(--blue-color-1);
    }
}

.navbar {
    @include flexbox(space-between, center);
}

.nav_logo {
    @include devices(xs) {
        font-size: 1.2rem;
    }

    &:hover {
        color: var(--blue-color-9);
    }
}

.get_started_btn {
    padding: 0.8rem 1rem;
    border-radius: 4px;
    color: var(--white-color);
    background-color: var(--blue-color-4);
    @include transition(all, 0.3s, ease);
    
    &:hover {
        color: var(--blue-color-1);
        background-color: var(--blue-color-5);
    }
}

.nav_actions {
    @include flexbox($alignItems: center);
    gap: 3rem;
    font-size: 1.5rem;

    @include devices(xs) {
        gap: 2.5rem;
        font-size: 1.2rem;
    }
}

.dash_action,
.doctor_action,
.model_action,
.medicine_action,
.user_action {
    position: relative;
}

.dash_action,
.doctor_action,
.model_action,
.medicine_action {
    &:hover .tooltip {
        @include toggleVisibility(visible, 1);
    }
   
    &:hover {
        color: var(--blue-color-9);
    }

}

.dash_action,
.doctor_action,
.model_action,
.medicine_action,
.user_action {
    span {
        cursor: pointer;
    }
}

.user_action:hover {
    span {
        color: var(--blue-color-9);
    }
}

.medicine_action {

    .badge {
        @include centered;
        @include dimension(45px, 20px);
        position: absolute;
        top: 0;
        right: -37px;
        background-color: var(--blue-color-8);
        border-radius: 40px;    
        font-size: 0.75rem;
    }
    
    &:hover {
        .badge {
            background-color: var(--blue-color-9);
        }
    }
}

.user_action {

    .dropdown_menu {
        position: absolute;
        top: 50px;
        right: 0;
        width: 17.5rem;
        background-color: var(--blue-color-6);
        padding: 1.4rem;
        font-size: 0.9rem;
        border-radius: 3px;
        color: #eee;
        @include bordered(1px, var(--grey-color-3));
        @include toggleVisibility(hidden, 0);
        @include transition(all, 0.2s, ease-in-out);

        h4 {
            font-weight: 600;
            letter-spacing: 0.5px;

            a {
                color: var(--blue-color-2);
                opacity: 0.95;

                &:hover {
                    opacity: 1;
                }
            }
        }

        p {
            font-size: 0.8rem;
            margin-top: 0.5rem;
        }

        button {
            margin-top: 1rem;
            padding: 0.8rem 1rem;
            border-radius: 4px;
            @include bordered(1px, var(--grey-color-2));
            @include transition(all, 0.3s, ease);

            &:hover {
                color: var(--blue-color-1);
                border-color: var(--blue-color-3);
                background-color: var(--blue-color-3);
            }
        }

        .profile_btn {
            color: var(--blue-color-1);
            border-color: var(--blue-color-3);
            background-color: var(--blue-color-3);
            margin-right: 10px;
            
            &:hover {
                border-color: var(--blue-color-5);
                background-color: var(--blue-color-5);
            }
        }

        li {
            &:not(:last-child) {
                margin-bottom: 0.5rem;
            }

            a:hover {
                color: #eee;
            }
        }
    }

    &:hover .dropdown_menu {
        @include toggleVisibility(visible, 1);
    }
}