@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

::-webkit-scrollbar {
    width: 0.6vw;
}

::-webkit-scrollbar-track {
    background-color: var(--blue-color-2);
}

::-webkit-scrollbar-thumb {
    background-color: var(--blue-color-3);
    border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--blue-color-4);
}

::selection {
    background-color: var(--blue-color-5);
    color: #fff;
}

::-moz-selection {
    background-color: var(--blue-color-5);
    color: #fff;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    scrollbar-width: thin;
    scrollbar-color: var(--blue-color-3) var(--blue-color-2);

    @include devices(xs) {
        font-size: 15px;
    }
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--white-color);
    color: var(--blue-color-2);
}

section {
    position: relative;
    overflow: hidden;
}

input,
button,
textarea {
    border: none;
    outline: none;
    line-height: 1;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    background-color: transparent;
}

input[type="checkbox"],
input[type="range"] {
    accent-color: var(--blue-color-9);
}

button {
    cursor: pointer;
}

textarea {
    resize: vertical;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    height: auto;
}

img,
svg {
    vertical-align: middle;
    user-select: none;
}

del {
    color: var(--grey-color-3);
}