:root {
    --black-color-1: #222;
    --black-color-2: #1d1f2c;

    --white-color: #f5f5f5;

    --blue-color-1: #d4ddf1;
    --blue-color-2: #b0bbd8;
    --blue-color-3: #7584ae;
    --blue-color-4: #6575a5;
    --blue-color-5: #515e84;
    --blue-color-6: #3d4663;
    --blue-color-7: #282f42;
    --blue-color-8: #06075a;
    --blue-color-9: #4a4cb2;

    --yellow-color-1: #f5f5dc;
    --yellow-color-2: #f0e68c;
    --yellow-color-3: #ffcc00;
    --yellow-color-4: #ffd700;
    --yellow-color-5: #eaa938;
    --yellow-color-6: #af9500;

    --orange-color-1: #FF8400;
    --orange-color-2: #af5b00;

    --grey-color-1: #a9afc3;
    --grey-color-2: #b3b8d0;
    --grey-color-3: #6c757d;

    --fb-color: #4a71c3;
    --fb-hover-color: #37528d;

    --google-color: #a61c00;
    --google-hover-color: #721300;

    --twitter-color: #1da1f2;
    --twitter-hover-color: #1771a9;

    --instagram-color: #DD2A7B;
    --instagram-hover-color: #a5215d;

    --whatsapp-color: #25D366;
    --whatsapp-hover-color: #1b9447;

    --text-shadow: 1px 1px 2px rgba($color: #ffd700, $alpha: 0.8);

}


    