:root {
    --black-color: #f5f5dc;

    --bg-color: #fff;
    --bg-color-2: #ffffff;
    --bg-color-3: #222;

    --main-color: #ffcc00;
    --main-color-2: #222;

    --text-color: #6c757d;
    --text-muted: #a9afc3;

    --track-color: #f5f5dc;
    --thumb-color: #f0e68c;
    --thumb-hover-color: #ffd700;

    --fb-color: #4a71c3;
    --twitter-color: #1da1f2;
    --instagram-color: #DD2A7B;
    --whatsapp-color: #25D366;

    --text-shadow: 1px 1px 2px rgba($color: #ffd700, $alpha: 0.8);
}