#cart {
    @include padding-y(8rem, 8rem);
    color: var(--blue-color-8);
}

.cart_wrapper {
    display: grid;
    grid-template-columns: 1fr 0.7fr;
    align-items: start;
    gap: 2rem;

    .quantity_box {
        transform: scale(0.9);
        transform-origin: 0 0;

        @include devices(sm) {
            transform: scale(0.6);
        }
    }

    @include devices(lg) {
        grid-template-columns: 1fr;
    }
}

.cart_left_col {
    max-height: 600px;
    padding: 1rem 3rem;
    overflow-x: hidden;
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 0.35vw;
    }

    @include devices(lg) {
        @include padding-x(1.5rem, 1.5rem);
    }

    @include devices(sm) {
        padding: 1rem;
    }
}

.cart_item {
    display: grid;
    grid-template-columns: 0.25fr 0.8fr;
    gap: 3rem;
    padding: 2rem;
    border-radius: 12px;

    &:not(:last-child) {
        border-bottom: 2px solid rgba($color: #666666, $alpha: 0.6);
    }

    @include devices(sm) {
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        @include padding-y(2rem, 2rem);
    }
}

.cart_item_img {
    img {
        border-radius: 12px;
        max-width: 150px;
        max-height: 150px;
        width: 100%;
    }
}

.cart_item_head {
    @include flexbox(space-between);
    gap: 1.4rem;
}

.cart_item_title {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.3;

    @include devices(sm) {
        font-size: 0.8rem;
    }

    span {
        font-size: 1.5em;
        font-weight: 600;
        margin-bottom: 1rem;
    }
}

.cart_item_price {
    font-size: 1.3rem;
    color: var(--blue-color-7);
    @include margin-y(1rem, 1rem);

    @include devices(sm) {
        font-size: 0.95rem;
        @include margin-y(1rem, 1rem);
    }
}

.cart_item_del {
    position: relative;
    line-height: 1;
    font-size: 1.2rem;

    span {
        cursor: pointer;
        @include transition(color, 0.4s);

        &:hover {
            color: var(--google-color);
        }
    }

    .tooltip {
        width: max-content;
    }

    &:hover .tooltip {
        @include toggleVisibility(visible, 1);
    }

    @include devices(sm) {
        font-size: 0.9rem;
    }
}

.order_summary {
    @include margin-x(1rem, 1rem);
}

.clear_cart_btn {

    text-align: right;

    button {
        background-color: rgb(200, 0, 0);
        color: var(--white-color);
        padding: 1rem 2rem;
        margin: 1rem;
        border-radius: 8px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        box-shadow: 0 0 10px 1px rgba(255, 0, 0, 0.4);
        
        &:hover, &:active {
            background-color: var(--google-hover-color);
        }
    }
}

.order_summary_details {
    display: grid;
    gap: 1.5rem;
    @include margin-y(3rem, 2rem);

    div {
        @include flexbox(space-between, center);
    }

    .total_price {
        font-size: 1.6rem;
        color: var(--blue-color-7);
    }

    .separator {
        @include margin-y(0, 0);
    }

    .summary_note {
        background-color: rgba(0,0,0,0.05);
        color: var(--black-color-2);
        padding: 1.5rem;
        border-radius: 12px;
    }
}

.use-balance-div {
    @include flexbox(flex-start, center);
    cursor: pointer;
    margin-bottom: 1.5rem;

    input {
        margin-right: 1rem;
    }
}

.checkout_btn {
    width: 100%;
    background-color: var(--blue-color-9);
    transition: all 0.3s ease-in-out;

    &.active {
        background-color: var(--blue-color-7);
    }
}



/* Quantity Box */

.quantity_box {
    display: inline-flex;
    align-items: center;
    @include bordered(1px, var(--blue-color-3));
    border-radius: 3px;
    user-select: none;
    overflow: hidden;

    button {
        @include dimension(3.125rem, 2.25rem);
        background-color: var(--blue-color-3);
        color: var(--blue-color-1);
        @include transition(all, 0.2s);
        
        &:hover {
            background-color: var(--blue-color-5);
            color: var(--white-color);
        }
        
        &[disabled] {
            cursor: not-allowed;
            background-color: var(--blue-color-5);
            color: var(--grey-color-2);
        }
    }
}

.quantity_count {
    @include dimension(3.75rem, 2.25rem);
    color: red;
    font-size: 1.4rem;
    line-height: 2.25rem;
    font-weight: bold;
    text-align: center;
}