
#landing-page {
    
    .intro-section {

        height: 100vh;

        .bg {
            background-image: url(../../../public/capsules-bg.jpg);
            filter: blur(8px);
            -webkit-filter: blur(8px);
            height: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;
        }

        .content {
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
            color: var(--white-color);
            font-weight: bold;
            border: 3px solid var(--blue-color-2);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 2;
            width: 600px;
            padding: 50px;
            text-align: center;

            h2 {
                font-size: 2.5em;
                margin-bottom: 1rem;
            }

            p {
                font-size: 1.5em;
            }
        }
    }


    .need-section {
        margin: 5rem 0;
        display: grid;
        grid-template-columns: 0.3fr 0.7fr;
        grid-template-rows: 1fr;

        .qn {
            background-color: var(--blue-color-9);
            color: var(--white-color);
            border-radius: 0 250px 250px 0;
            padding: 1rem;
            @include flexbox(center, center);
        }

        .ans {
            background-color: var(--white-color);
            color: var(--blue-color-6);
            padding: 4rem;

            ul {
                list-style-type: square;

                li {
                    margin: 1rem 0;
                }
            }
        }
    }

    .features-section {
        margin: 5rem 0;
        text-align: center;

        h2 {
            color: var(--blue-color-7);
        }

        .features {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;

            .item {
                padding: 3rem;
                h3 {
                    color: var(--blue-color-9);
                    margin-bottom: 1rem;
                }
                p {
                    color: var(--blue-color-6);
                }
            }
        }
    }


    .benefits-section {
        padding-top: 7rem;
        padding-bottom: 10rem;
        @include flexbox(center, center);
        color: var(--white-color);

        .main {
            background-color: var(--blue-color-9);
            padding: 2rem 6rem;
            border-radius: 100%;
            position: relative;
        }

        .first, .second, .third, .fourth {
            position: absolute;
            color: var(--blue-color-7);
            border: 2px solid var(--blue-color-3);
            padding: 1rem;
            border-radius: 8px;
        }

        .first {
            top: -100px;
            left: 50px;
        }

        .second {
            left: -350px;
            top: 20px;
        }

        .third {
            right: -350px;
            top: 20px;
        }

        .fourth {
            bottom: -100px;
            left: 50px;
        }
    }


    .team-section {
        margin: 5rem 0;
        text-align: center;

        .head {
            h2 {
                color: var(--blue-color-7);
                margin-bottom: 2rem;
            }
        }

        .team {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;

            .item {
                margin: 2rem;
                position: relative;

                &:hover {
                    .contact-div {
                        @include toggleVisibility(visible, 1);
                        bottom: 60px;
                    }
                }

                .img {
                    width: 250px;
                    height: 250px;
                    border: 1px solid var(--blue-color-6);
                    border-radius: 40px;
                }
                h3 {
                    color: var(--blue-color-9);
                    margin: 1rem 0;
                }

                .contact-div {
                    position: absolute;
                    bottom: 30px;
                    font-size: 30px;
                    @include toggleVisibility(hidden, 0);
                    @include flexbox(center, center);
                    transform: translateX(-50%);
                    left: 50%;
                    transition: all 0.5s ease-in-out;
                    
                    .contact-icon {
                        background-color: var(--blue-color-9);
                        color: var(--white-color);
                        padding: 0px 5px 5px 5px;
                        border-radius: 6px;
                        margin: 7px;
                        cursor: pointer;
                        transition: all 0.3s ease-in-out;

                        &:hover {
                            background-color: var(--blue-color-8);
                        }
                    }
                }
            }
        }
    }


    .faq-section {
        margin: 3rem 0;
        text-align: center;

        h2 {
            color: var(--blue-color-7);
            margin-bottom: 2rem;
        }

        .faqs {
            width: min(1000px, 95vw);
            margin: 0 auto;

            .faq-item {
                background-color: var(--blue-color-2);
                color: var(--blue-color-8);

                .item-ans {
                    color: var(--blue-color-9);
                    text-align: left;
                }
            }
        }
    }

}