#success {
    margin: 100px 0;
    margin-top: 150px;
    text-align: center;

    .tick-icon {
        color: var(--whatsapp-color);
        font-size: 0;
        transition: all 0.3s ease-out;
        height: 200px;
        @include flexbox(center, flex-end);

        &.active {
            font-size: 200px;
        }

        &.failed {
            color: red;
        }
    }

    .content {
        padding: 50px;
        padding-top: 20px;
        width: min(1200px, 100vw);
        margin: 0 auto;
        color: var(--blue-color-8);
    }

    .redirecting-div {
        @include flexbox(center, center);
        color: var(--blue-color-9);
    }
}